*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 0 136px ;
    padding-top: 24px;
}
.nav-link li{
display: inline;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    padding: 0 136px ;   
}
.flex-container{
    background: #7a4a91;
    height: 200px;
}
.item{
    background: gold;

}  
.satu{
    width: 50px;
    height: 60px;
}
.dua{
    width: 60px;
    height: 70px;
    background: red;
}
.tiga{
    width: 70px;
    height: 80px;
    background: blue;
}